
.container-stats {
    display: flex; /* Use flexbox */
    background-color: #FFFCF6;
    padding: 0px;
    /* margin: 0px; */
    width: 100vw;
  }
  
  .left-div,
  .right-div {
    flex: 1;
    width: 50%; /* Set both divisions to occupy 50% of the container */
    /* padding: 20px; */
    box-sizing: border-box; /* Include padding in width calculation */
  }