.top-banner {
    margin: 0;
    margin-bottom: 0px;
    /* Other styles for your top banner */
    /* For example: */
    background-color: #f0f0f0;
    /* padding: 20px; */
    /* Add any other styles as needed */
  }